.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0px;
    margin-left: 120px;
    margin-top: 20px;

}

.image {
    max-width: 55%;

}

.phonesPic {
    margin-left: 520px;
    margin-top: 25px;
}