<!--Phone plan graphic buttons-->
<div class="grid">
    <div class="plan standardPlan">
        <a [routerLink]="['/planspecificationspage']"><input class="image" type="image" src="../../assets/standardPlan.jpg" /></a>
    </div>
    <div class="plan familyPlan">
        <a [routerLink]="['/planspecificationspage']"><input class="image" type="image" src="../../assets/familyPlan.jpg" /></a>
    </div>
    <div class="plan ultimatePlan">
        <a [routerLink]="['/planspecificationspage']"><input class="image" type="image" src="../../assets/ultimatePlan.jpg" /></a>
    </div>

</div>


<div class = "phonesPic">
    <img src="../../assets/chooseYourPlanPhones.jpg" width="300">
</div>