{{name}}



<div class="grid">

    <div class="item">
        <div class="device-title">
            <h4>Choose your device</h4>
        </div>

        <label for="devices"></label>
        <select name="devices" id="devices" class="dropdown form-select-sm">
        <!--<option value={{iPhone13}}>iPhone 13</option>-->    
        <option value="iPhone13">iPhone 13</option>
        <option value="iPhone13Pro">iPhone 13 Pro</option>
        <option value="iPhone13ProMax">iPhone 13 Pro Max</option>
        <option value="">iPhone 13 mini</option>
        <option value="">Galaxy Z Fold3</option>
        <option value="">Galaxy S22</option>
        <option value="">Galaxy S22 Ultra</option>
        <option value="">Galazy A13</option>
        <option value="">moto g stylus</option>
        <option value="">Pixel 6</option>
        <option value="">Pixel 6 Pro</option>
        <option value="">Galaxy S21 FE</option>
        <option value="">Galaxy S20 FE</option>
        <option value="">iPhone 12</option>
        <option value="">iPhone 12 mini</option>
        </select>
    </div>

    <div class="item">
        <div class="addPhoneNumberTitle">
            <h5>Transfer a Phone Number</h5>
        </div>

        <div class="phoneInput">
            <input type="text" id="fname" name="fname">
            <input type="button" value="Add" >
        </div>
    </div>

</div>

