<div class="col-md-2 offset-md-5 mt-5">
    <div class="card">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
                <label class="usernamelabel" for="UserName">User Name</label>
                <input type="text" class="form-control" id="UserName" name="Username" placeholder="User Name" [(ngModel)]="Login.name">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="text" class="form-control" id="Pass_word" name="Password" placeholder="Password" [(ngModel)]="Login.pass">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>