

<div class="your-plan">
    <div id="plan" class="col-lg-9">
        <h2>Your Plan</h2>
        <table id="plan-table" class ="table table-bordered">
            <thead>
                <tr>
                    <td><b>User Name</b></td>
                    <td><b>Plan</b></td>
                    <td><b>Device(s)</b></td>
                    <td *ngIf="devicesTitle2"></td>
                    <td *ngIf="devicesTitle3"></td>
                    <td *ngIf="devicesTitle4"></td>
                    <td><b>Monthly Bill:</b></td>
                </tr>
            </thead>
            <tbody id="plan-table-body">
                <!--loops through all elements-->
                <tr *ngIf="thisUser">
            <!--    <tr *ngFor="let user of user">   -->                    <!--instead of For, its *ngFor for a for loop-->
                    <td><b>{{thisUser.name}}</b></td>                                   <!--doube braackets for binding-->
                    <td><b>{{thisUser.plan_name}}</b></td>
                    <td><b>Device:</b><br>{{thisUser.device_name_1}}<br><b>Phone Number:</b><br>{{thisUser.phone_number_1}}</td>
                    <td *ngIf="devicesTitle2"><b>Device 2:</b><br>{{thisUser.device_name_2}}<br><b>Phone Number:</b><br>{{thisUser.phone_number_2}}</td>
                    <td *ngIf="devicesTitle3"><b>Device 3:</b><br>{{thisUser.device_name_3}}<br><b>Phone Number:</b><br>{{thisUser.phone_number_3}}</td>
                    <td *ngIf="devicesTitle4"><b>Device 4:</b><br>{{thisUser.device_name_4}}<br><b>Phone Number:</b><br>{{thisUser.phone_number_4}}</td>
                    <td><b>${{thisUser.monthly_price}}</b></td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>

<div class="content">

<form (ngSubmit)="updateUserPlan()">
    <mat-form-field appearance="fill">
    <mat-label>Choose a Plan:</mat-label>
    <mat-select class="choseplan" [(value)]="userPlan">
        <mat-option value="Standard">Standard 45GB of DATA a month</mat-option>
        <mat-option value="Ultimate">Ultimate UNLIMITED DATA a month</mat-option>
        <mat-option value="FamilyPlan">Family Plan: Up to 4 Lines, 45GB of DATA each</mat-option>
    </mat-select>
</mat-form-field>
    <input class="btn btn-success submit-button" type="submit" value="Save"/>
</form>


<!--If FamilyPlan is selected, get amount of lines-->

<form *ngIf="activateFamilyCount" (ngSubmit)="familyPlanAccount()">
    
    <mat-form-field appearance="fill">
    <mat-label>Choose a Count:</mat-label>
    <mat-select [(value)]="familyPlanAmount">
        <mat-option value="2">2 Lines</mat-option>
        <mat-option value="3">3 Lines</mat-option>
        <mat-option value="4">4 Lines</mat-option>
    </mat-select>
    </mat-form-field>
    <input class="btn btn-success submit-button" type="submit" value="Save"/>
</form>



<!--Update device_1, appears if standard or ulitmate plan chosen-->
<div *ngIf="activateDevices" class="form-control">
    <form  (ngSubmit)="updateDevice()">
        <mat-form-field appearance="fill">
        <mat-label>Choose a device:</mat-label>
        <mat-select [(value)]="device">
            <mat-option value="iPhone13">iPhone 13</mat-option>
            <mat-option value="iPhone13Pro">iPhone 13 Pro</mat-option>
            <mat-option value="iPhone13ProMax">iPhone 13 Pro Max</mat-option>
            <mat-option value="iPhone 13 mini">iPhone 13 mini</mat-option>
            <mat-option value="Galaxy Z Fold3">Galaxy Z Fold3</mat-option>
            <mat-option value="Galaxy S22">Galaxy S22</mat-option>
            <mat-option value="Galaxy S22 Ultra">Galaxy S22 Ultra</mat-option>
            <mat-option value="Galazy A13">Galazy A13</mat-option>
            <mat-option value="moto g stylus">moto g stylus</mat-option>
            <mat-option value="Pixel 6">Pixel 6</mat-option>
            <mat-option value="Pixel 6 Pro">Pixel 6 Pro</mat-option>
            <mat-option value="Galaxy S21 FE">Galaxy S21 FE</mat-option>
            <mat-option value="Galaxy S20 FE">Galaxy S20 FE</mat-option>
            <mat-option value="iPhone 12">iPhone 12</mat-option>
            <mat-option value="iPhone 12 mini">iPhone 12 mini</mat-option>
        </mat-select>
    </mat-form-field>
        <input class="btn btn-success submit-button" type="submit" value="Save"/>
    </form>

    <form *ngIf="activatePhoneNumber" (ngSubmit)="updatePhoneNumber()">
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input [(ngModel)]="phoneNumber" type="text" class="form-control1" id="PhoneNumber" name="PhoneNumber">
        </div>
        <input class="phonenumberbutton btn btn-success submit-button" type="submit" value="Save"/>
    </form>
</div>


<!--Family Plan-->

<form *ngIf="activateFamilyPlanComponent" (ngSubmit)="updateFamilyPlan()">

    <div *ngIf="activateFamilyPlan">
        <mat-form-field appearance="fill">
        <mat-label>Choose a device:</mat-label>
        <mat-select [(value)]="device">
            <mat-option value="iPhone13">iPhone 13</mat-option>
            <mat-option value="iPhone 13 mini">iPhone 13 mini</mat-option>
            <mat-option value="Galaxy Z Fold3">Galaxy Z Fold3</mat-option>
            <mat-option value="Galaxy S22">Galaxy S22</mat-option>
            <mat-option value="Galazy A13">Galazy A13</mat-option>
            <mat-option value="Pixel 6">Pixel 6</mat-option>
        </mat-select>
    </mat-form-field>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input [(ngModel)]="phoneNumber" type="text" class="form-control1" id="PhoneNumber" name="PhoneNumber">
        </div>
    </div>

    <div *ngIf="activateFamilyPlan2">
        <mat-form-field appearance="fill">
        <mat-label>Choose a device 2:</mat-label>
        <mat-select [(value)]="device2">
            <mat-option value="iPhone13">iPhone 13</mat-option>
            <mat-option value="iPhone 13 mini">iPhone 13 mini</mat-option>
            <mat-option value="Galaxy Z Fold3">Galaxy Z Fold3</mat-option>
            <mat-option value="Galaxy S22">Galaxy S22</mat-option>
            <mat-option value="Galazy A13">Galazy A13</mat-option>
            <mat-option value="Pixel 6">Pixel 6</mat-option>
        </mat-select>
    </mat-form-field>

        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input [(ngModel)]="phoneNumber2" type="text" class="form-control1" id="PhoneNumber" name="PhoneNumber">
        </div>
    </div>

    <div *ngIf="activateFamilyPlan3">
        <mat-form-field appearance="fill">
        <mat-label>Choose a device 3:</mat-label>
        <mat-select [(value)]="device3">
            <mat-option value="iPhone13">iPhone 13</mat-option>
            <mat-option value="iPhone 13 mini">iPhone 13 mini</mat-option>
            <mat-option value="Galaxy Z Fold3">Galaxy Z Fold3</mat-option>
            <mat-option value="Galaxy S22">Galaxy S22</mat-option>
            <mat-option value="Galazy A13">Galazy A13</mat-option>
            <mat-option value="Pixel 6">Pixel 6</mat-option>
        </mat-select>
    </mat-form-field>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input [(ngModel)]="phoneNumber3" type="text" class="form-control1" id="PhoneNumber" name="PhoneNumber">
        </div>
    </div>


    <div *ngIf="activateFamilyPlan4">
        <mat-form-field appearance="fill">
        <mat-label>Choose a device 4:</mat-label>
        <mat-select [(value)]="device4">
            <mat-option value="iPhone13">iPhone 13</mat-option>
            <mat-option value="iPhone 13 mini">iPhone 13 mini</mat-option>
            <mat-option value="Galaxy Z Fold3">Galaxy Z Fold3</mat-option>
            <mat-option value="Galaxy S22">Galaxy S22</mat-option>
            <mat-option value="Galazy A13">Galazy A13</mat-option>
            <mat-option value="Pixel 6">Pixel 6</mat-option>
        </mat-select>
</mat-form-field>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input [(ngModel)]="phoneNumber4" type="text" class="form-control1" id="PhoneNumber" name="PhoneNumber">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>